
body{
    background-color:rgba(255, 0, 0, 0.301);
    overflow-y: scroll; 
    padding: 5em;
}

#container{
    
    justify-content: center;
    height:30em;
    display: flex;
    align-items: center;
    
}

#notebook{
    border:solid black;
    background-color: rgba(241, 238, 232, 0.733);
    height: 25em;
    width: 40em;
    display: grid;
    grid-template-columns:repeat(auto,10em);
    grid-template-rows: repeat(4, 5em);
}

.projectTitle{

    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    height: fit-content;
    grid-column: 1/1;
    margin-left: 2em;
    margin-top: 2.5em;
    border-bottom: solid rgba(255, 0, 0, 0.507);
}

#userText{
    grid-column: 2/6;
    grid-row: 2/3;
    margin-right: 1em;
    height: 20em;
    border: black solid 0.15em;


}

#userDate{
    width: 5.5em;
    height: 1em;
    grid-column: 1/1;
    grid-row: 3/3;   
    margin-top:5em;
    justify-self: center;
    border: black solid 0.15em;
    
}

#userTitle{
    width: 10em;
    height: 1em;
    grid-column: 1/1;
    grid-row: 3/3;
    justify-self: center;
    border: black solid 0.15em;

}



#backPage{
    width: fit-content;
    height: fit-content;
    grid-column: 1/1;
    grid-row: 5/5;
    justify-self: start;
    align-self: center;
    margin-left: 2em;
    font-size: 1.05em;
    border: black solid 0.15em;
}

#savePage{
    width: fit-content;
    height: fit-content;
    grid-column: 4/4;
    font-size: 0.9em;
    margin-top: 1em;
    border: black solid 0.15em;
}

#deletePage{
    width: fit-content;
    height: fit-content;
    grid-column: 5/5;
    font-size: 0.9em;
    margin-top: 1em;
    border: black solid 0.15em;
}

#index{
    width: fit-content;
    height: fit-content;
    grid-column: 2/2;
    grid-row:1/1;
    font-size: 0.9em;
    margin-top: 1em;
    border: black solid 0.15em;
}






#inPage{
    border:solid black;
    background-color: rgba(241, 238, 232, 0.733);
    height: fit-content;
    width: 40em;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
    
   
}

#inContainer{
display:flex;
flex-direction: column;
justify-content: center;

    }

.inTitle{
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    height: fit-content;
    margin-left: 1.3em;
    margin-top: 0.5em;
    border-bottom: solid rgba(255, 0, 0, 0.507);

}

#indexList{
    
    display: flex;
    flex-direction: column;
    width: 3em;
    align-items: center;
  
   
    

}

.liElClass{
  width: fit-content;
  background-color:burlywood;
  font-family: 'Courier New', Courier, monospace;
  margin: 0.15em;
 


}


#infoPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid black;
    background-color: rgba(241, 238, 232, 0.733);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 20em;
    width: 20em;
    margin: 0.3em;
    align-self: center;
   white-space: pre-line;
   
    
  
}
#infoTitle{
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid red;
    width: fit-content;
    margin-bottom: -0.5em;
}
#infoDate{
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
}

#infoText{

    text-align: center;
    
 
    
}
